// Variables

// Colorbook
// Main Background
$main-bg-light: #FFF;
$main-bg-dark: #25282C;
// Text Color
$high-contrast-light: #25282C;
$high-contrast-dark: #F4F4F2;
// Component Background
$component-bg-light: #E0E0E0;
$component-bg-dark: #3A3F45;
// Hover Color
$hover-light: #D1D1D1;
$hover-dark: #3F444B;
// Tooltip Background
$tooltip-bg-light: #EFEFEC;
$tooltip-bg-dark: #3A3F45;

// Typography
$font-family-sans: 'Open Sans', sans-serif;

// font weight
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Design elemets
$border-radius-small: 1.2rem;
$border-radius-default: 1.6rem;
$border-radius-large: 2.4rem;
$transition-default: 300ms ease-in-out;
$transition-slow: 400ms ease-in-out;